/* importing the following fonts:  */
@import url('https://fonts.googleapis.com/css?family=Freckle+Face|Love+Ya+Like+A+Sister|Luckiest+Guy&display=swap');


p,h{
	font-family: "Luckiest Guy";
	em: 1.5;
}

a{
	font-effect: underline;
}